.itemslist-wrapper {
  padding: 50px 30px 0 0;
}

.search {
  width: 30vw;
  display: inline-block;
}

.search-input {
  text-align: center;
  background-color: #232323;
  color: white;
}

.pagination {
  justify-content: center;
  margin-bottom: 20px;
}
