.update-wrapper {
  margin: 50px;
  padding: 50px;
}

.name-input,
.date-input {
  margin: 10px;
}

.update-btn:hover {
  background-color: black;
  color: white;
}

.update-btn:disabled {
  background-color: gray;
  color: white;
}

.update-border {
  border: 1px solid white;
  padding: 40px;
  border-radius: 50px;
  box-shadow: 3px 6px 8px #888888;
}

.update-input {
  text-align: center;
  background-color: #232323;
  color: white;
}
